[submodule "taxi-trip-api"]
	path = taxi-trip-api
	url = git@github.com:pauldaniv/taxi-trip-api
[submodule "taxi-trip-client"]
	path = taxi-trip-client
	url = git@github.com:pauldaniv/taxi-trip-client
[submodule "yellow-taxi-tf"]
	path = yellow-taxi-tf
	url = git@github.com:pauldaniv/yellow-taxi-tf
[submodule "yellow-taxi-manifests"]
	path = yellow-taxi-manifests
	url = git@github.com:pauldaniv/yellow-taxi-manifests
[submodule "yellow-taxi-scripts"]
	path = yellow-taxi-scripts
	url = git@github.com:pauldaniv/yellow-taxi-scripts
[submodule "yellow-taxi-totals"]
	path = yellow-taxi-totals
	url = git@github.com:pauldaniv/yellow-taxi-totals.git
[submodule "taxi-trip-facade"]
	path = taxi-trip-facade
	url = git@github.com:pauldaniv/taxi-trip-facade
